In [17]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
from getpass import getpass
password = getpass()

In [19]:
conn_str = "mysql+pymysql://root:{}@localhost:3306/ClassicModels".format(password)

In [20]:
%sql $conn_str

In [21]:
%sql show tables;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
8 rows affected.

[('customers',),
 ('employees',),
 ('offices',),
 ('orderdetails',),
 ('orders',),
 ('payments',),
 ('productlines',),
 ('products',)]

In [22]:
%sql select * from customers limit 5;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
5 rows affected.

[(103, 'Atelier graphique', 'Schmitt', 'Carine ', '40.32.2555', '54, rue Royale', None, 'Nantes', None, '44000', 'France', 1370, 21000.0, b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00]\xa5\xbb\xebl\xe8\xf8\xbfm1\xe4}\xc1\x9bG@'),
 (112, 'Signal Gift Stores', 'King', 'Jean', '7025551838', '8489 Strong St.', None, 'Las Vegas', 'NV', '83030', 'USA', 1166, 71800.0, b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00o\x0e\xd7j\x0f\xcb\\\xc0\x01OZ\xb8\xac\x0eB@'),
 (114, 'Australian Collectors, Co.', 'Ferguson', 'Peter', '03 9520 4555', '636 St Kilda Road', 'Level 3', 'Melbourne', 'Victoria', '3004', 'Australia', 1611, 117300.0, b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00\xe3\x16\x98\xba\xd0\x1eb@\x8f\x84"\x82\x16\xe8B\xc0'),
 (119, 'La Rochelle Gifts', 'Labrune', 'Janine ', '40.67.8555', '67, rue des Cinquante Otages', None, 'Nantes', None, '44000', 'France', 1370, 118200.0, b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00]\xa5\xbb\xebl\xe8\xf8\xbfm1\xe4}\xc1\x9bG@'),
 (121, 'Baane Mini Imports', 'Bergulfsen', 'Jonas ', '07-98 9555', 'Erling Skakkes gate 78', None, 'Stavern', None, '4110', 'Norway', 1504, 81700.0, b"\xe6\x10\x00\x00\x01\x01\x00\x00\x00\x12\xd4\x95t9\x12$@dB'\xdf\xc7\x7fM@")]