In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
from getpass import getpass

password = getpass()

In [13]:
conn_str = "mysql+pymysql://root:{}@localhost:3306/ClassicModels".format(password)

In [14]:
%sql $conn_str

In [15]:
%sql show tables;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
8 rows affected.

[('customers',),
 ('employees',),
 ('offices',),
 ('orderdetails',),
 ('orders',),
 ('payments',),
 ('productlines',),
 ('products',)]

In [33]:
%sql describe employees;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
8 rows affected.

[('employeeNumber', 'int', 'NO', 'PRI', None, ''),
 ('lastName', 'varchar(50)', 'NO', '', None, ''),
 ('firstName', 'varchar(50)', 'NO', '', None, ''),
 ('extension', 'varchar(10)', 'NO', '', None, ''),
 ('email', 'varchar(100)', 'NO', '', None, ''),
 ('reportsTo', 'int', 'YES', 'MUL', None, ''),
 ('jobTitle', 'varchar(50)', 'NO', '', None, ''),
 ('officeCode', 'varchar(10)', 'NO', 'MUL', None, '')]

##### Expressions within a WHERE clause can be combined using AND and OR.

SELECT column1, column2, ...<br>
FROM table_name<br>
WHERE condition1 AND condition2 AND condition3 ...;<br>

The WHERE clause supports the following operators:

    =
    >
    <
    >=
    <=
    <> or !=
    BETWEEN
    LIKE
    IN

In [32]:
%sql select * from employees where jobTitle = 'Sales Rep';

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
17 rows affected.

[(1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', 1143, 'Sales Rep', '1'),
 (1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', 1143, 'Sales Rep', '1'),
 (1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', 1143, 'Sales Rep', '2'),
 (1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', 1143, 'Sales Rep', '2'),
 (1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', 1143, 'Sales Rep', '3'),
 (1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', 1143, 'Sales Rep', '3'),
 (1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', 1102, 'Sales Rep', '4'),
 (1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', 1102, 'Sales Rep', '4'),
 (1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', 1102, 'Sales Rep', '4'),
 (1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', 1102, 'Sales Rep', '7'),
 (1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', 1102, 'Sales Rep', '7'),
 (1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', 1088, 'Sales Rep', '6'),
 (1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', 1088, 'Sales Rep', '6'),
 (1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', 1088, 'Sales Rep', '6'),
 (1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', 1056, 'Sales Rep', '5'),
 (1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', 1621, 'Sales Rep', '5'),
 (1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', 1102, 'Sales Rep', '4')]

# Exercises

1. Prepare a list of offices sorted by country, state, city.

In [38]:
%sql select * from offices order by country, state, city;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
7 rows affected.

[('6', 'Sydney', '+61 2 9264 2451', '5-11 Wentworth Avenue', 'Floor #2', 'NSW', 'Australia', '2010', 'APAC', b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00m\x1a\xdbk\xc1\xe6b@\xe4\xbc\xff\x8f\x13\xee@\xc0'),
 ('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA', b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00\xb8\x91\xb2E\xd2\xce\x02@\xfeG\xa6C\xa7mH@'),
 ('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan', b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00N\x0e\x9ft"va@\x02~\x8d$A\xd8A@'),
 ('7', 'London', '+44 20 7877 2041', '25 Old Broad Street', 'Level 7', None, 'UK', 'EC2N 1HN', 'EMEA', b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00/\xf7\xc9Q\x80(\xc0\xbf\xb6\x83\x11\xfb\x04\xc0I@'),
 ('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA', b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00\xd3\xda4\xb6\xd7\x9a^\xc0:X\xff\xe70\xe3B@'),
 ('2', 'Boston', '+1 215 837 0825', '1550 Court Place', 'Suite 102', 'MA', 'USA', '02107', 'NA', b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00\xc4\x0b"R\xd3\xc3Q\xc0\xb1o\'\x11\xe1-E@'),
 ('3', 'NYC', '+1 212 555 3000', '523 East 53rd Street', 'apt. 5A', 'NY', 'USA', '10022', 'NA', b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00-\xea\x93\xdca\x80R\xc0VfJ\xebo[D@')]

2. How many employees are there in the company

In [40]:
%sql select count(employeeNumber) from employees;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
1 rows affected.

[(23,)]

3. What is the total of payments received?

In [48]:
%sql select round(sum(amount), 2) as totalPayments from payments;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
1 rows affected.

[(8853839.23,)]

4. List the product lines that contain 'Cars'.

In [52]:
%sql select * from productlines where productLine like '%cars%';

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
2 rows affected.

[('Classic Cars', 'Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking for classic muscle cars, dream sports cars or mo ... (437 characters truncated) ... cles. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.', None, None),
 ('Vintage Cars', 'Our Vintage Car models realistically portray automobiles produced from the early 1900s through the 1940s. Materials used include Bakelite, diecast, p ... (202 characters truncated) ... icas. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.', None, None)]

5. Report total payments for October 28, 2004.

In [54]:
%sql select sum(amount) from payments where paymentDate='2004-10-28';

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
1 rows affected.

[(47411.33,)]

6. Report those payments greater than \$100,000.

In [55]:
%sql select * from payments where amount>=100000;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
5 rows affected.

[('AE215433', datetime.datetime(2005, 3, 5, 0, 0), 101244.59, 124),
 ('ID10962', datetime.datetime(2004, 12, 31, 0, 0), 116208.4, 141),
 ('JE105477', datetime.datetime(2005, 3, 18, 0, 0), 120166.58, 141),
 ('KI131716', datetime.datetime(2003, 8, 15, 0, 0), 111654.4, 124),
 ('KM172879', datetime.datetime(2003, 12, 26, 0, 0), 105743.0, 148)]

7. List the products in each product line.

In [ ]:
%%sql

SELECT productLine, productName
FROM products
ORDER BY productLine, productName;

8. How many products in each product line?

In [61]:
%%sql

SELECT ProductLine, COUNT(*) AS NumberOfProducts
FROM Products
GROUP BY ProductLine;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
7 rows affected.

[('Classic Cars', 38),
 ('Motorcycles', 13),
 ('Planes', 12),
 ('Ships', 9),
 ('Trains', 3),
 ('Trucks and Buses', 11),
 ('Vintage Cars', 24)]

9. What is the minimum payment received?

In [62]:
%sql select min(amount) from payments;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
1 rows affected.

[(615.45,)]

10. List all payments greater than twice the average payment.

In [78]:
%sql select * from payments where amount > 2 *( select avg(amount) from payments);

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
13 rows affected.

[('AE215433', datetime.datetime(2005, 3, 5, 0, 0), 101244.59, 124),
 ('AL493079', datetime.datetime(2005, 5, 23, 0, 0), 75020.13, 323),
 ('BG255406', datetime.datetime(2004, 8, 28, 0, 0), 85410.87, 124),
 ('DJ15149', datetime.datetime(2003, 11, 3, 0, 0), 85559.12, 321),
 ('ET64396', datetime.datetime(2005, 4, 16, 0, 0), 83598.04, 124),
 ('GN228846', datetime.datetime(2003, 12, 3, 0, 0), 85024.46, 167),
 ('ID10962', datetime.datetime(2004, 12, 31, 0, 0), 116208.4, 141),
 ('IN446258', datetime.datetime(2005, 3, 25, 0, 0), 65071.26, 141),
 ('JE105477', datetime.datetime(2005, 3, 18, 0, 0), 120166.58, 141),
 ('KI131716', datetime.datetime(2003, 8, 15, 0, 0), 111654.4, 124),
 ('KM172879', datetime.datetime(2003, 12, 26, 0, 0), 105743.0, 148),
 ('MA765515', datetime.datetime(2004, 12, 15, 0, 0), 82261.22, 114),
 ('NQ865547', datetime.datetime(2004, 3, 15, 0, 0), 80375.24, 239)]

11. What is the average percentage markup of the MSRP on buyPrice?

In [79]:
%sql select avg((MSRP - buyPrice)/buyPrice)*100 as AVGMarkupPrecentage from products;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
1 rows affected.

[(88.70239217133998,)]

12. How many distinct products does ClassicModels sell?

In [87]:
%sql select COUNT(DISTINCT productCode) as NumberOfDistinctProducts from products;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
1 rows affected.

[(110,)]

13. Report the name and city of customers who don't have sales representatives?

In [89]:
%sql select customerName, city from customers where salesRepEmployeeNumber is null;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
22 rows affected.

[('Havel & Zbyszek Co', 'Warszawa'),
 ('Porto Imports Co.', 'Lisboa'),
 ('Asian Shopping Network, Co', 'Singapore'),
 ('Nat', 'Cunewalde'),
 ('ANG Resellers', 'Madrid'),
 ('Messner Shopping Network', 'Frankfurt'),
 ('Franken Gifts, Co', 'Manheim'),
 ('BG&E Collectables', 'Fribourg'),
 ('Schuyler Imports', 'Amsterdam'),
 ('Der Hund Imports', 'Berlin'),
 ('Cramer Spezialit', 'Brandenburg'),
 ('Asian Treasures, Inc.', 'Cork'),
 ('SAR Distributors, Co', 'Hatfield'),
 ('Kommission Auto', 'Passau'),
 ('Lisboa Souveniers, Inc', 'Lisboa'),
 ('Stuttgart Collectable Exchange', 'Stuttgart'),
 ('Feuer Online Stores, Inc', 'Leipzig'),
 ('Warburg Exchange', 'Aachen'),
 ('Anton Designs, Ltd.', 'Madrid'),
 ('Mit Vergn', 'Mannheim'),
 ('Kremlin Collectables, Co.', 'Saint Petersburg'),
 ('Raanan Stores, Inc', 'Herzlia')]

14. What are the names of executives with VP or Manager in their title? Use the CONCAT function to combine the employee's first name and last name into a single field for reporting.

In [90]:
%%sql

select CONCAT(firstName, ' ', lastName) as fullName
from employees
where jobTitle like '%VP%' or jobTitle like '%Manager%';

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
5 rows affected.

[('Mary Patterson',),
 ('Jeff Firrelli',),
 ('William Patterson',),
 ('Gerard Bondur',),
 ('Anthony Bow',)]

15. Which orders have a value greater than $5,000?

In [92]:
%sql select * from orderdetails where (quantityOrdered * priceEach) > 5000;

 * mysql+pymysql://root:***@localhost:3306/ClassicModels
410 rows affected.

[(10251, 'S10_1678', 59, 93.79, 2),
 (10417, 'S10_1678', 66, 79.43, 2),
 (10103, 'S10_1949', 26, 214.3, 11),
 (10112, 'S10_1949', 29, 197.16, 1),
 (10126, 'S10_1949', 38, 205.73, 11),
 (10140, 'S10_1949', 37, 186.44, 11),
 (10150, 'S10_1949', 45, 182.16, 8),
 (10174, 'S10_1949', 34, 207.87, 4),
 (10194, 'S10_1949', 42, 203.59, 11),
 (10206, 'S10_1949', 47, 203.59, 6),
 (10215, 'S10_1949', 35, 205.73, 3),
 (10228, 'S10_1949', 29, 214.3, 2),
 (10245, 'S10_1949', 34, 195.01, 9),
 (10258, 'S10_1949', 32, 177.87, 6),
 (10280, 'S10_1949', 34, 205.73, 2),
 (10291, 'S10_1949', 37, 210.01, 11),
 (10304, 'S10_1949', 47, 201.44, 6),
 (10312, 'S10_1949', 48, 214.3, 3),
 (10322, 'S10_1949', 40, 180.01, 1),
 (10347, 'S10_1949', 30, 188.58, 1),
 (10357, 'S10_1949', 32, 199.3, 10),
 (10369, 'S10_1949', 41, 195.01, 2),
 (10381, 'S10_1949', 36, 182.16, 3),
 (10424, 'S10_1949', 50, 201.44, 6),
 (10223, 'S10_2016', 47, 110.61, 4),
 (10251, 'S10_2016', 44, 115.37, 5),
 (10285, 'S10_2016', 47, 110.61, 9),
 (10388, 'S10_2016', 50, 118.94, 5),
 (10399, 'S10_2016', 51, 99.91, 7),
 (10402, 'S10_2016', 45, 118.94, 1),
 (10417, 'S10_2016', 45, 116.56, 5),
 (10120, 'S10_4698', 46, 158.8, 2),
 (10134, 'S10_4698', 31, 187.85, 4),
 (10145, 'S10_4698', 33, 154.93, 8),
 (10180, 'S10_4698', 41, 164.61, 11),
 (10188, 'S10_4698', 45, 182.04, 3),
 (10201, 'S10_4698', 49, 191.72, 4),
 (10210, 'S10_4698', 34, 189.79, 1),
 (10223, 'S10_4698', 49, 189.79, 3),
 (10237, 'S10_4698', 39, 158.8, 9),
 (10251, 'S10_4698', 43, 172.36, 4),
 (10263, 'S10_4698', 41, 193.66, 4),
 (10275, 'S10_4698', 36, 154.93, 3),
 (10318, 'S10_4698', 37, 189.79, 3),
 (10339, 'S10_4698', 39, 178.17, 3),
 (10354, 'S10_4698', 42, 178.17, 3),
 (10403, 'S10_4698', 66, 174.29, 9),
 (10417, 'S10_4698', 56, 162.67, 4),
 (10105, 'S10_4757', 50, 127.84, 2),
 (10119, 'S10_4757', 46, 112.88, 11),
 (10143, 'S10_4757', 49, 133.28, 15),
 (10167, 'S10_4757', 44, 123.76, 9),
 (10197, 'S10_4757', 45, 118.32, 6),
 (10209, 'S10_4757', 39, 129.2, 8),
 (10222, 'S10_4757', 49, 133.28, 12),
 (10234, 'S10_4757', 48, 118.32, 9),
 (10325, 'S10_4757', 47, 111.52, 6),
 (10359, 'S10_4757', 48, 122.4, 6),
 (10400, 'S10_4757', 64, 134.64, 9),
 (10414, 'S10_4757', 49, 114.24, 3),
 (10103, 'S10_4962', 42, 119.67, 4),
 (10217, 'S10_4962', 48, 132.97, 4),
 (10229, 'S10_4962', 50, 138.88, 9),
 (10281, 'S10_4962', 44, 132.97, 9),
 (10313, 'S10_4962', 40, 141.83, 7),
 (10322, 'S10_4962', 46, 141.83, 8),
 (10357, 'S10_4962', 43, 135.92, 9),
 (10381, 'S10_4962', 37, 138.88, 6),
 (10108, 'S12_1099', 33, 165.38, 6),
 (10122, 'S12_1099', 42, 155.66, 10),
 (10135, 'S12_1099', 42, 173.17, 7),
 (10147, 'S12_1099', 48, 161.49, 7),
 (10159, 'S12_1099', 41, 188.73, 2),
 (10211, 'S12_1099', 41, 171.22, 2),
 (10266, 'S12_1099', 44, 188.73, 14),
 (10276, 'S12_1099', 50, 184.84, 3),
 (10300, 'S12_1099', 33, 184.84, 5),
 (10310, 'S12_1099', 33, 165.38, 10),
 (10320, 'S12_1099', 31, 184.84, 3),
 (10329, 'S12_1099', 41, 182.9, 5),
 (10341, 'S12_1099', 45, 192.62, 2),
 (10363, 'S12_1099', 33, 180.95, 3),
 (10375, 'S12_1099', 45, 184.84, 7),
 (10404, 'S12_1099', 64, 163.44, 3),
 (10105, 'S12_1108', 41, 205.72, 15),
 (10117, 'S12_1108', 33, 195.33, 9),
 (10127, 'S12_1108', 46, 193.25, 2),
 (10142, 'S12_1108', 33, 166.24, 12),
 (10165, 'S12_1108', 44, 168.32, 3),
 (10176, 'S12_1108', 33, 166.24, 2),
 (10196, 'S12_1108', 47, 203.64, 5),
 (10208, 'S12_1108', 46, 176.63, 13),
 (10220, 'S12_1108', 32, 189.1, 2),
 (10231, 'S12_1108', 42, 193.25, 2),
 (10247, 'S12_1108', 44, 195.33, 2),
 (10260, 'S12_1108', 46, 180.79, 5),
 (10272, 'S12_1108', 35, 187.02, 2),
 (10282, 'S12_1108', 41, 176.63, 5),
 (10293, 'S12_1108', 46, 187.02, 8),
 (10306, 'S12_1108', 31, 182.86, 13),
 (10314, 'S12_1108', 38, 176.63, 5),
 (10325, 'S12_1108', 42, 193.25, 8),
 (10336, 'S12_1108', 33, 176.63, 10),
 (10348, 'S12_1108', 48, 207.8, 8),
 (10359, 'S12_1108', 42, 180.79, 8),
 (10371, 'S12_1108', 32, 178.71, 6),
 (10382, 'S12_1108', 34, 166.24, 10),
 (10395, 'S12_1108', 33, 205.72, 1),
 (10413, 'S12_1108', 36, 201.57, 2),
 (10164, 'S12_1666', 49, 121.64, 6),
 (10216, 'S12_1666', 43, 133.94, 1),
 (10258, 'S12_1666', 41, 133.94, 3),
 (10291, 'S12_1666', 41, 123.0, 8),
 (10357, 'S12_1666', 49, 109.34, 8),
 (10370, 'S12_1666', 49, 128.47, 8),
 (10424, 'S12_1666', 49, 121.64, 3),
 (10121, 'S12_2823', 50, 126.52, 4),
 (10145, 'S12_2823', 49, 146.1, 5),
 (10180, 'S12_2823', 40, 131.04, 8),
 (10224, 'S12_2823', 43, 141.58, 6),
 (10251, 'S12_2823', 46, 129.53, 1),
 (10263, 'S12_2823', 48, 123.51, 1),
 (10276, 'S12_2823', 43, 150.62, 14),
 (10285, 'S12_2823', 49, 131.04, 5),
 (10341, 'S12_2823', 55, 120.5, 8),
 (10375, 'S12_2823', 49, 150.62, 13),
 (10388, 'S12_2823', 44, 125.01, 6),
 (10403, 'S12_2823', 66, 122.0, 6),
 (10117, 'S12_3148', 43, 148.06, 10),
 (10127, 'S12_3148', 46, 140.5, 3),
 (10153, 'S12_3148', 42, 128.42, 12),
 (10176, 'S12_3148', 47, 145.04, 3),
 (10230, 'S12_3148', 43, 128.42, 1),
 (10314, 'S12_3148', 46, 125.4, 6),
 (10348, 'S12_3148', 47, 122.37, 4),
 (10358, 'S12_3148', 49, 129.93, 5),
 (10372, 'S12_3148', 40, 146.55, 4),
 (10382, 'S12_3148', 37, 145.04, 11),
 (10393, 'S12_3148', 35, 145.04, 8),
 (10413, 'S12_3148', 47, 145.04, 3),
 (10135, 'S12_3380', 48, 110.39, 5),
 (10170, 'S12_3380', 47, 116.27, 4),
 (10287, 'S12_3380', 45, 117.44, 10),
 (10329, 'S12_3380', 46, 117.44, 13),
 (10117, 'S12_3891', 39, 173.02, 8),
 (10127, 'S12_3891', 42, 169.56, 1),
 (10142, 'S12_3891', 46, 167.83, 11),
 (10153, 'S12_3891', 49, 155.72, 10),
 (10176, 'S12_3891', 50, 160.91, 1),
 (10185, 'S12_3891', 43, 147.07, 12),
 (10196, 'S12_3891', 38, 147.07, 4),
 (10231, 'S12_3891', 49, 147.07, 1),
 (10260, 'S12_3891', 44, 169.56, 4),
 (10272, 'S12_3891', 39, 148.8, 1),
 (10293, 'S12_3891', 45, 171.29, 7),
 (10314, 'S12_3891', 36, 169.56, 4),
 (10336, 'S12_3891', 49, 141.88, 1),
 (10359, 'S12_3891', 49, 162.64, 5),
 (10396, 'S12_3891', 33, 155.72, 3),
 (10404, 'S12_3990', 77, 67.03, 4),
 (10115, 'S12_4473', 46, 111.39, 5),
 (10165, 'S12_4473', 48, 109.02, 12),
 (10195, 'S12_4473', 49, 118.5, 6),
 (10259, 'S12_4473', 46, 117.32, 4),
 (10349, 'S12_4473', 48, 114.95, 9),
 (10371, 'S12_4473', 49, 104.28, 4),
 (10412, 'S12_4473', 54, 100.73, 5),
 (10203, 'S12_4675', 47, 115.16, 5),
 (10341, 'S12_4675', 55, 109.4, 7),
 (10377, 'S12_4675', 50, 112.86, 1),
 (10405, 'S12_4675', 97, 115.16, 5),
 (10174, 'S18_1097', 48, 108.5, 3),
 (10381, 'S18_1097', 48, 114.34, 2),
 (10424, 'S18_1097', 54, 108.5, 5),
 (10181, 'S18_1129', 44, 124.56, 6),
 (10240, 'S18_1129', 41, 125.97, 3),
 (10321, 'S18_1129', 41, 123.14, 10),
 (10331, 'S18_1129', 46, 120.31, 6),
 (10356, 'S18_1129', 43, 120.31, 8),
 (10406, 'S18_1129', 61, 124.56, 3),
 (10410, 'S18_1342', 65, 99.66, 7),
 (10137, 'S18_1589', 44, 115.73, 2),
 (10148, 'S18_1589', 47, 108.26, 9),
 (10181, 'S18_1589', 42, 124.44, 2),
 (10321, 'S18_1589', 44, 120.71, 6),
 (10367, 'S18_1589', 49, 105.77, 1),
 (10407, 'S18_1589', 59, 114.48, 11),
 (10119, 'S18_1662', 43, 151.38, 3),
 (10155, 'S18_1662', 38, 138.77, 5),
 (10167, 'S18_1662', 43, 141.92, 1),
 (10178, 'S18_1662', 42, 127.73, 4),
 (10198, 'S18_1662', 42, 149.81, 4),
 (10222, 'S18_1662', 49, 137.19, 4),
 (10234, 'S18_1662', 50, 146.65, 1),
 (10250, 'S18_1662', 45, 148.23, 14),
 (10262, 'S18_1662', 49, 157.69, 9),
 (10274, 'S18_1662', 41, 129.31, 1),
 (10284, 'S18_1662', 45, 137.19, 11),
 (10296, 'S18_1662', 36, 146.65, 7),
 (10307, 'S18_1662', 39, 135.61, 1),
 (10338, 'S18_1662', 41, 137.19, 1),
 (10351, 'S18_1662', 39, 143.5, 1),
 (10360, 'S18_1662', 50, 126.15, 12),
 (10110, 'S18_1749', 42, 153.0, 7),
 (10149, 'S18_1749', 34, 156.4, 11),
 (10182, 'S18_1749', 44, 159.8, 10),
 (10204, 'S18_1749', 33, 153.0, 4),
 (10241, 'S18_1749', 41, 153.0, 2),
 (10254, 'S18_1749', 49, 137.7, 5),
 (10268, 'S18_1749', 34, 164.9, 10),
 (10288, 'S18_1749', 32, 168.3, 5),
 (10302, 'S18_1749', 43, 166.6, 1),
 (10312, 'S18_1749', 48, 146.2, 17),
 (10331, 'S18_1749', 44, 154.7, 7),
 (10344, 'S18_1749', 45, 168.3, 1),
 (10367, 'S18_1749', 37, 144.5, 3),
 (10379, 'S18_1749', 39, 156.4, 2),
 (10407, 'S18_1749', 76, 141.1, 2),
 (10420, 'S18_1749', 37, 153.0, 5),
 (10109, 'S18_1984', 38, 137.98, 3),
 (10161, 'S18_1984', 48, 139.41, 11),
 (10192, 'S18_1984', 47, 128.03, 10),
 (10204, 'S18_1984', 38, 133.72, 16),
 (10212, 'S18_1984', 41, 133.72, 9),
 (10240, 'S18_1984', 37, 136.56, 2),
 (10266, 'S18_1984', 49, 139.41, 5),
 (10301, 'S18_1984', 47, 119.49, 7),
 (10406, 'S18_1984', 48, 133.72, 2),
 (10115, 'S18_2238', 46, 140.81, 4),
 (10127, 'S18_2238', 45, 140.81, 10),
 (10141, 'S18_2238', 39, 160.46, 4),
 (10151, 'S18_2238', 43, 152.27, 2),
 (10184, 'S18_2238', 46, 145.72, 5),
 (10207, 'S18_2238', 44, 140.81, 6),
 (10219, 'S18_2238', 43, 132.62, 1),
 (10230, 'S18_2238', 49, 153.91, 8),
 (10246, 'S18_2238', 40, 144.08, 4),
 (10271, 'S18_2238', 50, 147.36, 4),
 (10314, 'S18_2238', 42, 135.9, 13),
 (10324, 'S18_2238', 47, 142.45, 8),
 (10336, 'S18_2238', 49, 153.91, 6),
 (10349, 'S18_2238', 38, 142.45, 8),
 (10412, 'S18_2238', 41, 150.63, 4),
 (10127, 'S18_2319', 45, 114.14, 14),
 (10151, 'S18_2319', 49, 106.78, 6),
 (10165, 'S18_2319', 46, 120.28, 15),
 (10184, 'S18_2319', 46, 119.05, 9),
 (10271, 'S18_2319', 50, 121.5, 8),
 (10281, 'S18_2319', 48, 114.14, 4),
 (10412, 'S18_2319', 56, 120.28, 8),
 (10193, 'S18_2325', 44, 115.69, 11),
 (10227, 'S18_2325', 46, 118.23, 7),
 (10243, 'S18_2325', 47, 111.87, 2),
 (10268, 'S18_2325', 50, 124.59, 7),
 (10322, 'S18_2325', 50, 120.77, 6),
 (10420, 'S18_2325', 45, 116.96, 2),
 (10110, 'S18_2795', 31, 163.69, 1),
 (10139, 'S18_2795', 41, 151.88, 8),
 (10162, 'S18_2795', 48, 156.94, 3),
 (10205, 'S18_2795', 40, 138.38, 3),
 (10214, 'S18_2795', 50, 167.06, 1),
 (10244, 'S18_2795', 43, 141.75, 8),
 (10268, 'S18_2795', 35, 148.5, 4),
 (10289, 'S18_2795', 43, 141.75, 3),
 (10322, 'S18_2795', 36, 158.63, 2),
 (10410, 'S18_2795', 56, 145.13, 8),
 (10421, 'S18_2795', 35, 167.06, 1),
 (10123, 'S18_2870', 46, 114.84, 3),
 (10241, 'S18_2870', 44, 126.72, 12),
 (10287, 'S18_2870', 44, 114.84, 1),
 (10366, 'S18_2870', 49, 105.6, 2),
 (10407, 'S18_2870', 41, 132.0, 12),
 (10419, 'S18_2870', 55, 116.16, 2),
 (10142, 'S18_3140', 47, 129.76, 8),
 (10166, 'S18_3140', 43, 136.59, 2),
 (10196, 'S18_3140', 49, 127.03, 1),
 (10282, 'S18_3140', 43, 122.93, 1),
 (10336, 'S18_3140', 48, 135.22, 12),
 (10350, 'S18_3140', 44, 135.22, 1),
 (10414, 'S18_3140', 41, 128.39, 12),
 (10109, 'S18_3232', 46, 160.87, 5),
 (10114, 'S18_3232', 48, 169.34, 4),
 (10136, 'S18_3232', 41, 169.34, 3),
 (10165, 'S18_3232', 47, 154.1, 16),
 (10171, 'S18_3232', 39, 165.95, 3),
 (10181, 'S18_3232', 45, 147.33, 7),
 (10195, 'S18_3232', 50, 150.71, 10),
 (10203, 'S18_3232', 48, 157.49, 1),
 (10212, 'S18_3232', 40, 155.79, 11),
 (10218, 'S18_3232', 34, 152.41, 2),
 (10225, 'S18_3232', 43, 162.57, 2),
 (10239, 'S18_3232', 47, 135.47, 1),
 (10246, 'S18_3232', 36, 145.63, 9),
 (10253, 'S18_3232', 40, 145.63, 6),
 (10278, 'S18_3232', 42, 167.65, 7),
 (10305, 'S18_3232', 37, 160.87, 9),
 (10310, 'S18_3232', 48, 159.18, 3),
 (10321, 'S18_3232', 33, 164.26, 11),
 (10342, 'S18_3232', 30, 167.65, 4),
 (10349, 'S18_3232', 48, 164.26, 6),
 (10366, 'S18_3232', 34, 154.1, 1),
 (10377, 'S18_3232', 39, 143.94, 3),
 (10383, 'S18_3232', 47, 155.79, 6),
 (10405, 'S18_3232', 55, 147.33, 1),
 (10412, 'S18_3232', 60, 157.49, 9),
 (10419, 'S18_3232', 35, 165.95, 6),
 (10404, 'S18_3278', 90, 67.54, 6),
 (10135, 'S18_3482', 42, 139.64, 9),
 (10238, 'S18_3482', 49, 144.05, 5),
 (10252, 'S18_3482', 41, 145.52, 1),
 (10265, 'S18_3482', 49, 123.47, 1),
 (10287, 'S18_3482', 40, 127.88, 14),
 (10310, 'S18_3482', 49, 122.0, 12),
 (10330, 'S18_3482', 37, 136.7, 3),
 (10342, 'S18_3482', 55, 136.7, 7),
 (10378, 'S18_3482', 43, 146.99, 10),
 (10390, 'S18_3482', 50, 135.23, 1),
 (10109, 'S18_3685', 47, 125.74, 2),
 (10172, 'S18_3685', 48, 139.87, 8),
 (10181, 'S18_3685', 39, 137.04, 4),
 (10192, 'S18_3685', 45, 125.74, 9),
 (10212, 'S18_3685', 45, 115.85, 8),
 (10226, 'S18_3685', 46, 122.91, 6),
 (10301, 'S18_3685', 39, 137.04, 6),
 (10343, 'S18_3685', 44, 127.15, 2),
 (10367, 'S18_3685', 46, 131.39, 6),
 (10406, 'S18_3685', 65, 117.26, 1),
 (10178, 'S18_3856', 48, 104.81, 9),
 (10273, 'S18_3856', 50, 105.87, 1),
 (10400, 'S18_3856', 58, 88.93, 6),
 (10176, 'S18_4027', 36, 140.75, 5),
 (10207, 'S18_4027', 40, 143.62, 1),
 (10220, 'S18_4027', 50, 126.39, 5),
 (10230, 'S18_4027', 42, 142.18, 3),
 (10247, 'S18_4027', 48, 143.62, 5),
 (10292, 'S18_4027', 44, 114.9, 2),
 (10324, 'S18_4027', 49, 120.64, 13),
 (10337, 'S18_4027', 36, 140.75, 3),
 (10372, 'S18_4027', 48, 119.2, 6),
 (10383, 'S18_4027', 38, 137.88, 1),
 (10413, 'S18_4027', 49, 133.57, 5),
 (10126, 'S18_4600', 50, 102.92, 5),
 (10150, 'S18_4600', 49, 111.39, 2),
 (10207, 'S18_4600', 47, 119.87, 16),
 (10347, 'S18_4600', 45, 115.03, 4),
 (10108, 'S18_4721', 44, 139.87, 11),
 (10180, 'S18_4721', 44, 147.31, 2),
 (10202, 'S18_4721', 43, 124.99, 2),
 (10211, 'S18_4721', 41, 148.8, 7),
 (10238, 'S18_4721', 44, 120.53, 8),
 (10276, 'S18_4721', 48, 120.53, 8),
 (10299, 'S18_4721', 49, 119.04, 2),
 (10310, 'S18_4721', 40, 133.92, 15),
 (10319, 'S18_4721', 45, 120.53, 3),
 (10330, 'S18_4721', 50, 133.92, 4),
 (10378, 'S18_4721', 49, 122.02, 8),
 (10390, 'S18_4721', 49, 122.02, 3),
 (10404, 'S18_4721', 48, 124.99, 8),
 (10168, 'S24_1578', 50, 103.68, 2),
 (10299, 'S24_1578', 47, 107.07, 10),
 (10389, 'S24_1578', 45, 112.7, 1),
 (10399, 'S24_1578', 57, 104.81, 3),
 (10403, 'S24_1578', 46, 109.32, 8),
 (10105, 'S24_2011', 43, 117.97, 9),
 (10129, 'S24_2011', 45, 113.06, 9),
 (10177, 'S24_2011', 50, 115.52, 7),
 (10221, 'S24_2011', 49, 113.06, 1),
 (10232, 'S24_2011', 46, 113.06, 4),
 (10248, 'S24_2011', 48, 122.89, 10),
 (10140, 'S24_2300', 47, 118.84, 1),
 (10194, 'S24_2300', 49, 112.46, 1),
 (10207, 'S24_2300', 46, 127.79, 12),
 (10229, 'S24_2300', 48, 115.01, 6),
 (10259, 'S24_2300', 47, 121.4, 9),
 (10271, 'S24_2300', 43, 122.68, 10),
 (10291, 'S24_2300', 48, 109.9, 1),
 (10358, 'S24_2300', 41, 127.79, 7),
 (10412, 'S24_2300', 70, 109.9, 10),
 (10425, 'S24_2300', 49, 127.79, 9),
 (10407, 'S24_2766', 76, 81.78, 6),
 (10110, 'S24_2887', 46, 112.74, 10),
 (10279, 'S24_2887', 48, 106.87, 2),
 (10288, 'S24_2887', 48, 109.22, 8),
 (10407, 'S24_2887', 59, 98.65, 5),
 (10420, 'S24_2887', 55, 115.09, 8),
 (10204, 'S24_3432', 48, 104.94, 11),
 (10108, 'S24_3856', 40, 132.0, 1),
 (10122, 'S24_3856', 43, 136.22, 5),
 (10135, 'S24_3856', 47, 139.03, 2),
 (10192, 'S24_3856', 45, 112.34, 14),
 (10203, 'S24_3856', 47, 140.43, 3),
 (10212, 'S24_3856', 49, 117.96, 13),
 (10225, 'S24_3856', 40, 130.6, 4),
 (10301, 'S24_3856', 50, 122.17, 11),
 (10310, 'S24_3856', 45, 139.03, 5),
 (10390, 'S24_3856', 45, 134.81, 8),
 (10405, 'S24_3856', 76, 127.79, 3),
 (10419, 'S24_3856', 70, 112.34, 8),
 (10184, 'S24_4048', 49, 114.73, 2),
 (10325, 'S24_4048', 44, 114.73, 5),
 (10340, 'S32_1374', 55, 95.89, 2),
 (10418, 'S32_4485', 50, 100.01, 9),
 (10127, 'S50_1392', 46, 111.12, 9),
 (10165, 'S50_1392', 48, 106.49, 10),
 (10401, 'S700_2466', 85, 98.72, 10),
 (10157, 'S700_2834', 48, 109.16, 2),
 (10263, 'S700_2834', 47, 117.46, 9),
 (10318, 'S700_2834', 50, 102.04, 8),
 (10388, 'S700_2834', 50, 111.53, 3),
 (10401, 'S700_3167', 77, 73.6, 9)]